.review-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.review-container h1 {
  font-size: 35px;
}

.review-container input,
.review-container textarea {
  width: 350px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.review-container textarea {
  height: 120px;
}

.review-container button {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: pointer;
}
